footer
    #footer.footer(style="background: #002147; padding:50px 0;")
        .container
            .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-light
                    h4.text-light  PK 
                    p.pull-left.copyright.small.text-light  Copyright © PK 2020 All right reserved. 
                .col-lg-3.col-sm-2.col-xs-3
                    h3.text-light  Contact 
                    ul
                        li
                            a.email(href='#')  luongvi.minh@gmail.com 
                        br
                        li
                            p.text-light  Tầng 5 Toà Nhà 51/39 Đường 10, Linh Chiểu  
                        li
                            p.text-light  B612 Chung cư hausneo
        