extends layout

block content
    .container-fluid
        button#swift-right.btn.btn-primary.m-2 Swift-right
        .row
            .col#center
                p#filename.d-none=file
                p#hostname.d-none=hostname
                //- iframe#live-iframe(src="/html/f133275647e45e2c5cfa612cff55b8e9.html" width="100%" height="800")
                iframe#live-iframe(src="" width="100%" height="800")
            .col-5#right.d-none
                h3 What is this?
                #define-data

    script(src="/javascripts/def-main.js")
    script(src="/socket.io/socket.io.js")

