<!DOCTYPE html>
html(lang="en")
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    title Crawler
    body
div(style='display:flex')
    button#button-plist.btn.btn-danger(type='button')
        | Submit
    div
        | Hay chon kieu phan trang
        span
    input#form-input-pagination.form-control(type='text' name='url' method='post' html='{:multipart=>true}' data-remote='true' placeholder='Nhap Pagination' required='')
div
    iframe#iframe-plist(srcdoc=listpage frameborder='0' width='100%' height='700px')
script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js')
//- // MyJS
script(src='/javascripts/handle-listpage.js')
