extends ../header

block content
    if definitionList.length === 0
        p Nothing in here :(
    else
        ul.hostname-list
            for def in definitionList
                li
                    a(href=def._id)=def.hostname
                    ul.definition-list
                        if(def.definitions.length === 0)
                            p Empty
                        else
                            for definition in def.definitions
                                li
                                    a(href=definition._id)=definition.catalogName
