extends ../header

block content
    if definitions.length === 0
        p Definition is empty
    else
        ul.definition-list
            for definition in definitions
                li.definition-item
                    a.item-url(href=definition._id)=definition.host